# Arquivos e pastas do Node.js
node_modules
/dist
/tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Variáveis de ambiente (crucial para segurança em desenvolvimento local)
.env

# Arquivos de Build/Cache
.parcel-cache
.vscode
*.tsbuildinfo